body 
{
background-color: white;
font-size: 14px;
margin: 10px; 
}

header
{
display: block;
margin: 10px;
text-align: center;
background-color: gray;
padding: 10px;
color: white;
}
nav 
{
width: 20%;
height: 450px;
float: left; 
background-color: grey;
padding: 15px;
text-align: center;
margin: 5px;
}
aside 
{
width: 20%;
height: 450px;
float: right; 
background-color: gray;   
padding: 15px;
text-align: center;
margin: 5px;
}

section 
{
width: 50%;
height: 480px;
margin-left: 20px;
margin-top: 5px;
display: inline-block;
text-align: center;
background-color: gray;   
}

footer
{
clear: both;    
color: white;
background-color: gray;
text-align: center;
padding: 15px;
margin: 10px;
}